#RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /andrew/php/token_router/
RewriteEngine on

#RewriteBase andrew/

#RewriteRule ^$ andrew/php/token_router/ [L]
RewriteCond %{REQUEST_URI} ^/andrew/php/token_router/
#[L]

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_URI} !^/jekyll/
RewriteRule ^(.*)$ /$1 [L]


#RewriteBase /andrew/php/token_router/
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule . /



#RewriteCond %{HTTP_HOST} ^23.111.254.254$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^23.111.254.254$
#RewriteCond %{REQUEST_URI} !^/andrew/php/token_router/
#RewriteRule ^(.*)$ /andrew/php/token_router/$1 [L,R=301]
